

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new meal
    </h2>

  <%if @restaurant == nil%>
  <form action="/select_restaurant" method = "post">
  <div class="form-group">
    <label for="restaurant_name_box">Select restaurant:</label>
    <select type = "text" id="restaurant_name_box" name="query_restaurant_name" class=" form-control">
      <%Restaurant.all.each do |restaurant|%>
        <option value="<%=restaurant.restaurant_name%>">
          <%=restaurant.restaurant_name%>
        </option>
      <%end%>
    </select>

    <button class="btn btn-block btn-outline-secondary">
      Select this restaurant
    </button>
</form>
      <div class = "row">
        <a href="/add_restaurant" class="btn btn-block btn-outline-secondary">
          Can't find your restaurant? Add here.
        </a>        
      </div>

  <%else%>
  <form action="/select_restaurant" method = "post">
  <div class="form-group">
    <label for="restaurant_name_box">Select restaurant:</label>
    <select type = "text" id="restaurant_name_box" name="query_restaurant_name" class=" form-control">
      <%Restaurant.all.each do |restaurant|%>
        <option value="<%=restaurant.restaurant_name%>"
        <%=if @restaurant.id == restaurant.id 
         "selected" end%>>
          <%=restaurant.restaurant_name%>
        </option>
      <%end%>
    </select>

    <button class="btn btn-block btn-outline-secondary">
      Select this restaurant
    </button>
</form>


      <form action="/insert_meal" method="post">

      <h3> Meal details </h3>

      <div class="form-group">
        <label for="meal_name_box">
          Meal name
        </label>

        <input type="text" id="meal_name_box" name="query_meal_name" class="form-control">
      </div>

      <div class="form-group">
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" class="form-control">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create meal
      </button>
    </form>
    <%end%>
  </div>
</div>


<hr>


