
<!-- Edit Meal Form -->

<%if @meal.creator == @current_user %>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit meal
    </h2>

    <form action="/modify_meal/<%= @meal.id %>"  method="post" >
      <div class="form-group">
        <label for="meal_name_box">
          Meal name
        </label>

        <input type="text" id="meal_name_box" name="query_meal_name" class="form-control" value="<%= @meal.meal_name %>">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control" value="<%= @meal.description %>">
      </div>

      <div>
        <label for="diet_check">Diets the meal follows</label>
        <div>
          <%Diet.pluck(:diet_name).each do |diet|%>
            <input id = "diet_check" type="checkbox" name="<%=diet%>" <%= "checked" if @diets.include?(diet)%>>
            <%=diet%>
          <%end%>
        </div>
      </div>

      
      <button class="btn btn-block btn-outline-secondary">
        Update meal
      </button>
    </form>
    <td>
      <a href="/delete_meal/<%=@meal.id %>" class="btn btn-block btn-outline-secondary">
        Delete meal
      </a>
    <td>
  </div>

</div>

<%end%>


<!-- meal details form -->

    <dl>
      <dt>
        Meal name
      </dt>
      <dd>
        <%= @meal.meal_name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @meal.description %>
      </dd>

      <dt>
        Diets
      </dt>
      <dd>
          <%= @meal.diet.pluck(:diet_name).to_sentence %>
      </dd>

      <dt>
        Restaurant
      </dt>

      <dd>
        <a href = "../restaurants/<%=@meal.restaurant_id%>"><%= @meal.restaurant.restaurant_name %></a>      
      </dd>

      <dt>
        Likes
      </dt>
      <dd>
        <%= @meal.likes.count %>
      </dd>

      <%this_reaction = Reaction.where({:user_id => @current_user.id}).where({:meal_id => @meal.id}).at(0)%>
      <%if this_reaction == nil%>  
        <form action="/insert_like"  method="post" >
        
          <input type="hidden" name="query_meal_id" value="<%= @meal.id %>">

          <button class="btn btn-block btn-outline-secondary">
            It was great! :)
          </button>

        </form>
      <%elsif this_reaction.reaction == "dislike"%>
      <%elsif this_reaction.reaction == "like"%>
        <a href="/delete_reaction/<%= this_reaction.id %>" class="btn btn-block btn-outline-secondary">
          Remove like
        </a>
      <%end%>

      <dt>
        Dislikes
      </dt>
      <dd>
        <%= @meal.dislikes.count%>
      </dd>

      <%if this_reaction == nil%>  
        <form action="/insert_dislike"  method="post" >
        
          <input type="hidden" name="query_meal_id" value="<%= @meal.id %>">

          <button class="btn btn-block btn-outline-secondary">
            Not a fan :(
          </button>
        </form>
      <%elsif this_reaction.reaction == "like"%>
      <%elsif this_reaction.reaction == "dislike"%>
        <a href="/delete_reaction/<%= this_reaction.id %>" class="btn btn-block btn-outline-secondary">
          Remove dislike
        </a>
      <%end%>



    </dl>
  </div>
</div>

