
<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Restaurants
    </h1>
  </div>
</div>

<hr>

<%= search_form_for @q do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :restaurant_name_cont, "Restaurant Name containing" %>
    <%= f.text_field :restaurant_name_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
  </div>

  <div class="form-group">
    <%= f.label :address_cont, "Address" %>
    <%= f.text_field :address_cont, :class => "form-control", :placeholder => "City, State" %>
  </div>

  <div class="form-group">
    <%= f.label :meals_meal_name_or_meals_description_cont, "Meal" %>
    <%= f.text_field :meals_meal_name_or_meals_description_cont, :class => "form-control", :placeholder => "Meal" %>
  </div>

  <div class="form-group">
  <p> Diets <p>
  <% Diet.all.each do |diet| %>
    <label>
      <%= check_box_tag('q[diets_id_eq_any][]', diet.id, (true if @q.diets_id_eq_any.try(:include?, diet.id))) %>
      <%= diet.diet_name %>
    </label>
  <% end %>
</div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/restaurants" class="btn btn-default btn-block">Clear filters</a>
<% end %>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Diets
        </th>
      </tr>

      <% @restaurants.each do |restaurant| %>
      <tr>

        <td>
          <%= restaurant.restaurant_name %>
        </td>

        <td>
          <%= restaurant.address %>
        </td>

        <td>
          <%= restaurant.diet.pluck(:diet_name).to_sentence%>
        </td>

        <td>
          <a href="/restaurants/<%= restaurant.id %>">
            See meals
          </a>
        </td>
      </tr>
      <% end %>

    </table>
  </div>
</div>

<hr>
