<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Restaurants
    </h1>
  </div>
</div>

<hr>

  <div>
    <form action="/restaurants">
      
        <label for="diet_check">Select your dietary needs</label>
        <div>
          <%a=1%>
          <%Diet.pluck(:diet_name).each do |diet|%>
            <input id = "diet_check" type="checkbox" name="<%=diet%>" />
            <%=diet%>
            <%a=a+1%>
          <%end%>
        </div>
 

      <button>
        Update restaurant list
      </button>
    </form>
  </div>

<hr>

<div>
<%if @diets == nil%>
  Displaying restaurants that have meals that are <%=@diets.to_sentence%>
<%else%>
  Displaying all restaurants
<%end%>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Diets
        </th>
      </tr>

      <% @restaurants.each do |restaurant| %>
      <tr>

        <td>
          <%= restaurant.restaurant_name %>
        </td>

        <td>
          <%= restaurant.address %>
        </td>

        <td>
          <%= restaurant.diet.pluck(:diet_name).to_sentence%>
        </td>

        <td>
          <a href="/restaurants/<%= restaurant.id %>">
            See meals
          </a>
        </td>
      </tr>
      <% end %>

    </table>
  </div>
</div>

<hr>
