<h1> Welcome to Nosh! </h1>

<p> If you're like many that have dietary restrictions and struggle to find good meals eating out, we welcome you to our community.
Browse the meals that we have captured according to your dietary restrictions, and, feel free to add your own! The bigger the base,
the more benefit we can bring. 


<table class = "table">
<td>

<%= search_form_for @q do |f| %>
  <p class="lead">Find your next meal:</p>

  <div class="form-group">
    <%= f.label :restaurant_name_cont, "Restaurant Name containing" %>
    <%= f.text_field :restaurant_name_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
  </div>

  <div class="form-group">
    <%= f.label :address_cont, "Address" %>
    <%= f.text_field :address_cont, :class => "form-control", :placeholder => "City, State" %>
  </div>

  <div class="form-group">
    <%= f.label :meals_meal_name_or_meals_description_cont, "Meal" %>
    <%= f.text_field :meals_meal_name_or_meals_description_cont, :class => "form-control", :placeholder => "Meal" %>
  </div>

  <div class="form-group">
  <p> Diets <p>
  <% Diet.all.each do |diet| %>
    <label>
      <%= check_box_tag('q[diets_id_eq_any][]', diet.id, (true if @q.diets_id_eq_any.try(:include?, diet.id))) %>
      <%= diet.diet_name %>
    </label>
  <% end %>
</div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/restaurants" class="btn btn-default btn-block">Clear filters</a>
<% end %>
</td>



<td valign = "top">

  <p class = "lead"> Do you have a favorite meal you'd like to share? </p>


      <div class="col">
        <a href="/add_meal" class="btn btn-block btn-outline-secondary">
          Add your favorite meal
        </a>
      </div>
</td>
</table>